<div>

  <section class="col-md-8">
    <h3>Company Event</h3>
    <p class="jumbotron">
      Making A Difference In Our CommunitiesSince the launch of our Volunteer Paid Time Off program, our office completed three large group projects and several smaller ones during a "Make a Difference Day" event.
      The team also committed to two year-round projects - Adopt-A-Park and Adopt-A-Trail.
      In the past six months, one third of all Macon team members have volunteered to make a difference in their communities and engage in team-building.
      If you or your team have found ways to give back to the community through the use of our Volunteer Paid Time Off Program, please send your stories to the team.
      We are all responsible to the world around us so keep these stories AND photos coming!
    </p>
  </section>


  <section class="col-md-3 col-md-offset-1">
    <h3>Company News</h3>
    <p  class="jumbotron">Record earnings for fourth consecutive quarter!! Click here to read more.</p>
  </section>
</div>
